<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
          Hello, 
        <strong>{{ currentUser.firstName }}</strong>
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template> -->
 

 <!-- {{ username }}
  {{ email }}
  {{ first_name }}
  {{ last_name }}
  {{ password }}


  <div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:200px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
            </div>
            <div class="col-md-6">
                <strong>User Information</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    ID #:                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userId}} 
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    First Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userFirstName}}    
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-cloud text-primary"></span>  
                                    Last Name                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userLastName}}
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userName}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email:                                              
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{mainUser.userEmail}}
                            </td>
                        </tr>                   
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>  
-->

<!-- <div class="container" *ngIf="currentUser; else loggedOut">
    <header class="jumbotron">
      <h3>
          Hello, 
        <strong>{{ currentUser.firstName }}</strong>
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.accessToken.substring(0, 20) }} ...
      {{ currentUser.accessToken.substr(currentUser.accessToken.length - 20) }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Roles:</strong>
    <ul>
      <li *ngFor="let role of currentUser.roles">
        {{ role }}
      </li>
    </ul>
  </div>
  
  <ng-template #loggedOut>
    Please login.
  </ng-template> -->
 

 
 <!--{{ last_name }}-->
  {{ password }}


  <div class="container bootstrap snippets bootdey">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4">
                <img alt="" style="width:200px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
            </div>
            <div class="col-md-6">
                <strong>User Information</strong><br>
                <div class="table-responsive">
                <table class="table table-user-information">
                    <tbody>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                    ID #:                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.user_id}} 
                            </td>
                        </tr>
                        <tr>    
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user  text-primary"></span>    
                                    First Name: {{ first_name }}
                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.first_name}}    
                                   
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-user text-primary"></span>  
                                    Last Name: {{ last_name }}                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.last_name}}
                            </td>
                        </tr>

                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-home text-primary"></span>  
                                    Address: {{ address }}                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.address}}
                            </td>
                        </tr>

                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-earphone text-primary"></span>  
                                    Contact: {{ contact }}                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.contact}}
                            </td>
                        </tr>
    
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-bookmark text-primary"></span> 
                                    Username: {{ username }}                                                
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.username}} 
                            </td>
                        </tr>
                        <tr>        
                            <td>
                                <strong>
                                    <span class="glyphicon glyphicon-envelope text-primary"></span> 
                                    Email: {{ email }}
                                </strong>
                            </td>
                            <td class="text-primary">
                                {{currentUser.email}}
                            </td>
                        </tr>                   
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
    </div>
    
    <div class="card mt-5">
        
        <!--  <button 
             type="button" 
             class="btn btn-primary"
             (click)="toggleAdd()">Update
          </button>  -->
          

         <div *ngIf="flag" > 
         <!-- <div> -->
          <form #updateForm="ngForm" class="form-inline tm-5" (submit)="updatedUser()">
               <div id="myDIV" class="form-group">
                 <label for="user_id">User ID :</label>
                 <input type="text" 
                 class="form-control" 
                 id="user_id"  
                 name="user_id"
                 [(ngModel)]="editUser.user_id" > 
                  <!--   {{currentUser.user_id}} -->
               </div>
               <div class="form-group">
                     <label for="first_name">First Name</label>
                     <input type="text" 
                             class="form-control" 
                             id="first_name"  
                             name="first_name"
                             [(ngModel)]="editUser.first_name">
               </div>
               <div class="form-group">
                     <label for="last_name">Last Name</label>
                     <input type="text" 
                             class="form-control" 
                             id="last_name"  
                             name="last_name"
                             [(ngModel)]="editUser.last_name">
               </div>
               <div class="form-group">
                     <label for="email">Email</label>
                     <input type="text" 
                             class="form-control" 
                             id="email"  
                             name="email"
                             [(ngModel)]="editUser.email">
               </div>
               <div class="form-group">
                     <label for="password">Password</label>
                     <input type="text" 
                     class="form-control" 
                     id="password"  
                     name="password"
                     [(ngModel)]="editUser.password"> 

                      <!-- {{ editUser.password }} -->
               </div> 
               <div class="form-group">
                     <label for="username">Username</label>
                     <input type="text" 
                             class="form-control" 
                             id="username"  
                             name="username"
                             [(ngModel)]="editUser.username">
               </div>
               <div class="form-group">
                     <label for="address">Address</label>
                     <input type="text" 
                             class="form-control" 
                             id="address"  
                             name="address"
                             [(ngModel)]="editUser.address">
               </div>
               <div class="form-group">
                        <label for="contact">Contact Number</label>
                        <input type="text" 
                                class="form-control" 
                                id="contact"  
                                name="contact"
                                [(ngModel)]="editUser.contact">
               </div>
               <button
               type="submit" 
               class="btn btn-primary mb-2">Update</button>
           </form>
         </div>

          <div>
            <button 
                  type="submit" 
                  class="btn btn-primary mr-2"
                  (click)="toggleAdd()" 
                  >Update</button>
          </div>
             </div>
           
